<header id="header" class="border-bottom-0" data-sticky-shrink="false">
	<div id="header-wrap">
		<div class="container">
			<div class="header-row">
				<!-- Logo
				============================================= -->
				<div id="logo">
					<a href="#" class="standard-logo" data-sticky-logo="assets/images/logo/hih-logo.png"><img src="assets/images/logo/hih-logo.png" alt="HIH Logo" style="height: 38px;"></a>
					<a href="#" class="retina-logo" data-sticky-logo="assets/images/logo/hih-logo.png"><img src="assets/images/logo/hih-logo.png" alt="HIH Logo" style="height: 38px;"></a>
				</div><!-- #logo end -->

				<div class="header-misc">
					<a class="top-phone" href=""><i class="icon-user-plus"></i> <span class="d-none d-md-inline-block">Apply</span></a>
				</div>

				<div id="primary-menu-trigger">
					<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
				</div>

				<!-- Primary Navigation
				============================================= -->
				<nav class="primary-menu">
					<ul class="menu-container">
						<li class="menu-item">
							<a class="menu-link" href="#"><div>About</div></a>
						</li>
						<li class="menu-item">
							<a class="menu-link" href="#"><div>Blog</div></a>
						</li>
						<li class="menu-item mega-menu mega-menu-full">
							<a class="menu-link" href="#"><div>Startup Kit</div></a>
							<div class="mega-menu-content mega-menu-style-2">
								<div class="container">
									<div class="row">
										<ul class="sub-menu-container mega-menu-column col-12">
											<li class="menu-item">
												<div class="widget">
													<div class="portfolio row gutter-20">

														<article class="portfolio-item col-lg-1-4 col-md-4 col-sm-6 col-12 pf-illustrations">
															<div class="grid-inner">
																<div class="portfolio-image">
																	<a href="">
																		<img src="assets/images/startup-kit-menu/incubation.jpg" alt="Incubation &amp; Acceleration">
																	</a>
																	<div class="bg-overlay">
																		<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
																			<a href="assets/images/startup-kit-menu/incubation.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
																			<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
																		</div>
																		<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
																	</div>
																</div>
																<div class="portfolio-desc">
																	<h3><a href="#">Incubation &amp; Acceleration</a></h3>
																</div>
															</div>
														</article>
														<article class="portfolio-item col-lg-1-4 col-md-4 col-sm-6 col-12 pf-media pf-icons">
															<div class="grid-inner">
																<div class="portfolio-image">
																	<a href="">
																		<img src="assets/images/startup-kit-menu/coworking.png" alt="Shared and Dedicated Co-Working Spaces">
																	</a>
																	<div class="bg-overlay">
																		<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
																			<a href="assets/images/startup-kit-menu/coworking.png" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
																			<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
																		</div>
																		<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
																	</div>
																</div>
																<div class="portfolio-desc">
																	<h3><a href="#">Co-Working Spaces</a></h3>
																</div>
															</div>
														</article>
														<article class="portfolio-item col-lg-1-4 col-md-4 col-sm-6 col-12 pf-graphics pf-uielements">
															<div class="grid-inner">
																<div class="portfolio-image">
																	<a href="">
																		<img src="assets/images/startup-kit-menu/startup-school.jpg" alt="Startup School">
																	</a>
																	<div class="bg-overlay">
																		<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
																			<a href="assets/images/startup-kit-menu/startup-school.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Image"><i class="icon-line-plus"></i></a>
																			<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
																		</div>
																		<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
																	</div>
																</div>
																<div class="portfolio-desc">
																	<h3><a href="#">Startup School</a></h3>
																</div>
															</div>
														</article>
													</div>

												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="menu-item mega-menu mega-menu-full">
							<a class="menu-link" href="#"><div>Academy</div></a>
							<div class="mega-menu-content mega-menu-style-2">
								<div class="container">
									<div class="row">
										<ul class="sub-menu-container mega-menu-column col-lg-3">
											<li class="menu-item">
												<div class="widget">
													<p class="lead text-smaller mb-0">At HIH, we build a community of entrepreneurs who can encourage, teach and support one another to grow. Our programs and courses are for those who are passionate about solving real-world problems.</p>
													<p class="text-smaller font-weight-semibold topmargin"><a href="#">Get in touch</a> for a customized capacity building plan</p>
												</div>
											</li>
										</ul>
										<ul class="sub-menu-container mega-menu-column col-lg-3">
											<li class="menu-item mega-menu-title">
												<a class="menu-link" href="#"><div>Harmony Knowledge Hub</div></a>
												<ul class="sub-menu-container">
													<li class="menu-item">
														<a class="menu-link" href="#"><div><i class="icon-graduation-cap"></i>Training Programs</div></a>
														<ul class="sub-menu-container mega-menu-dropdown">
															<li class="menu-item">
																<a class="menu-link" href="#"><div>Digital in Literacy</div></a>
															</li>
															<li class="menu-item">
																<a class="menu-link" href="#"><div>Mobile Application Development</div></a>
															</li>
															<li class="menu-item">
																<a class="menu-link" href="#"><div>Web Development &amp; Graphics Design</div></a>
															</li>
															<li class="menu-item">
																<a class="menu-link" href="#"><div>Data Science</div></a>
															</li>
															<li class="menu-item">
																<a class="menu-link" href="#"><div>Machine Learning</div></a>
															</li>
															<li class="menu-item bg-primary">
																<a class="menu-link" href="#"><div class="text-light">View more</div></a>
															</li>
														</ul>
													</li>
													<li class="menu-item">
														<a class="menu-link" href="#"><div><i class="icon-calendar3"></i>Events</div></a>
														<ul class="sub-menu-container mega-menu-dropdown">
															<li class="menu-item">
																<a class="menu-link" href="#"><div>Webinars</div></a>
															</li>
															<li class="menu-item">
																<a class="menu-link" href="#"><div>Meetups</div></a>
															</li>
															<li class="menu-item">
																<a class="menu-link" href="#"><div>Hackathons</div></a>
															</li>
															<li class="menu-item bg-primary">
																<a class="menu-link" href="#"><div class="text-light">Learn more</div></a>
															</li>
														</ul>
													</li>
													<li class="menu-item">
														<a class="menu-link" href="#"><div><i class="icon-briefcase"></i>Skill Acquisition & Internships</div></a>
													</li>
													<li class="menu-item">
														<a class="menu-link" href="#"><div><i class="icon-question-circle"></i>FAQs</div></a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="sub-menu-container mega-menu-column col-lg-3">
											<li class="menu-item">
												<div class="widget">
													<h5 class="text-uppercase ls1">Talent Pool</h5>
													<p class="lead mb-0"></p>
												</div>
											</li>
										</ul>
										<ul class="sub-menu-container mega-menu-column col-lg-3">
											<li class="menu-item">
												<div class="widget">

													<form id="login-form" name="login-form" class="row mb-0" action="#" method="post">
														<div class="col-12 form-group">
															<label for="login-form-username">Username or Email:</label>
															<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
														</div>

														<div class="col-12 form-group">
															<label for="login-form-password">Password:</label>
															<input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
														</div>

														<div class="col-12 form-group">
															<button class="btn btn-dark" id="login-form-submit" name="login-form-submit" value="login">Login</button>
															<p class="float-right text-smaller">
																<a href="#" class="float-right">
																	Signup
																</a>
																<br/>
																<a href="#" class="float-right">
																	Forgot Password?
																</a>
															</p>
														</div>
													</form>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="menu-item mega-menu">
							<a class="menu-link" href="#"><div>Contact</div></a>
							<div class="mega-menu-content mega-menu-style-2">
								<div class="container">
									<div class="row">
										<ul class="sub-menu-container mega-menu-column col-lg-3">
											<li class="menu-item">
												<div class="widget">

													<h4>Our Location</h4>
													<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1969.7048125905756!2d7.395161956523665!3d9.117423177031194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104ddf804c95aca7%3A0x678231fb11dfe6eb!2sHarmony%20Innovation%20Hub!5e0!3m2!1sen!2sng!4v1610879717752!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

												</div>
											</li>
										</ul>
										<ul class="sub-menu-container mega-menu-column col-lg-6">
											<li class="menu-item">
												<div class="widget">
													<div>
														<button class="button button-small button-3d m-0" data-toggle="modal" data-target=".hubspot-meeting-modal">Schedule a meeting</button>
														<div class="line mt-3 mb-3 p-0" style="border-top-color: #8FC93A"></div>
														<h4 class="">or Send us a Quick Email </h4>
													</div>

													<div class="form-widget" data-loader="button">
														<div class="form-result"></div>

														<form class="row mb-0" name="template-contactform" action="include/form.php" method="post">
															<div class="col-md-6 form-group">
																<input type="text" name="template-contactform-name" value="" class="form-control required" placeholder="Name">
															</div>
															<div class="col-md-6 form-group">
																<input type="email" name="template-contactform-email" value="" class="required email form-control" placeholder="Email">
															</div>
															<div class="col-md-6 form-group">
																<input type="text" name="subject" value="" class="required form-control" placeholder="Subject">
															</div>
															<div class="col-md-6 form-group">
																<input type="text" name="template-contactform-phone" value="" class="form-control" placeholder="Phone">
															</div>

															<div class="w-100"></div>

															<div class="col-12 form-group">
																<textarea class="required form-control" name="template-contactform-message" rows="3" cols="30" placeholder="Enter your Message"></textarea>
															</div>

															<div class="col-12 form-group d-none">
																<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="form-control">
															</div>

															<div class="col-12 form-group invisible">
																<button class="button button-3d button-small m-0" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Send Message</button>
															</div>

															<input type="hidden" name="prefix" value="template-contactform-">

														</form>
													</div>
												</div>
											</li>
										</ul>
										<ul class="sub-menu-container mega-menu-column col-lg-3">
											<li class="menu-item">
												<div class="widget">

													<h4>Our Headquarters</h4>

													<address>
														<strong>Address:</strong><br>
														M.M. Alkali Street<br>
														 442 Crescent, Citec Villas<br>
														Gwarinpa, Abuja<br>
													</address>
													<abbr title="Phone Number"><strong>Phone:</strong></abbr> (+234) 905 573 0312<br>
													<abbr title="Phone Number"><strong>Phone:</strong></abbr> (+234) 813 832 2071<br>
													<abbr title="Email Address"><strong>Email:</strong></abbr> info@hih.ng

													<div class="bottommargin-sm"></div>

													<div class="d-flex">
														<a href="#" class="social-icon si-small si-colored si-twitter" title="Twitter">
															<i class="icon-twitter"></i>
															<i class="icon-twitter"></i>
														</a>
														<a href="#" class="social-icon si-small si-colored si-facebook" title="Facebook">
															<i class="icon-facebook"></i>
															<i class="icon-facebook"></i>
														</a>
														<a href="#" class="social-icon si-small si-colored si-linkedin" title="LinkedIn">
															<i class="icon-linkedin"></i>
															<i class="icon-linkedin"></i>
														</a>
														<a href="#" class="social-icon si-small si-colored si-instagram" title="Instagram">
															<i class="icon-instagram"></i>
															<i class="icon-instagram"></i>
														</a>
														<a href="#" class="social-icon si-small si-colored si-youtube" title="Youtube">
															<i class="icon-youtube"></i>
															<i class="icon-youtube"></i>
														</a>
														<a href="#" class="social-icon si-small si-colored si-skype" title="Whatsapp">
															<i class="icon-whatsapp"></i>
															<i class="icon-whatsapp"></i>
														</a>
													</div>

												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</nav><!-- #primary-menu end -->

			</div>
		</div>
	</div>
	<div class="header-wrap-clone"></div>
</header>