<footer id="footer" class="dark text-dark" style="background: url('assets/images/footer-bg.jpg') repeat; background-size: cover; background-color: #EDF7FD">
	<div class="container">
		<!-- Footer Widgets
			============================================= -->
			<div class="footer-widgets-wrap">

				<div class="row">
					<div class="col-md-9">
						<div class="widget clearfix subscribe-widget text-dark">
							<h3 class="text-dark m-0"><strong>Stay connected</strong></h3>
							<p class="mb-0">Join our mailing list to receive updates about our work, upcoming events, the regular HIH newsletter and other tailored information.

								<div class="widget-subscribe-form-result"></div>
								<form action="#" method="post" class="mt-3">
									<div class="input-group mx-auto subscribe-form">
										<input type="text" class="form-control required" placeholder="First name">
										<input type="text" class="form-control required" placeholder="Last name">
										<input type="email" class="form-control required email" placeholder="Email address">
										<div class="input-group-append">
											<button class="btn btn-primary" type="submit">Subscribe</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-8">
							<div class="widget clearfix" style="margin-top: -50px !Important;">

								<div class="line" style="border-top-color: #8FC93A"></div>

								<div class="row">
									<div class="col-6 col-lg-3 widget_links widget-li-noicon">
										<h1 class="text-larger text-dark">Useful Links</h1>
										<ul>
											<li class="menu-item"><a href="#" class="menu-link">Our Blog</a></li>
											<li class="menu-item"><a href="#" class="menu-link">About HIH</a></li>
											<li class="menu-item"><a href="#" class="menu-link">HYEI</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Delivery Factory</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Privacy Policy</a></li>
										</ul>
									</div>

									<div class="col-6 col-lg-3 widget_links widget-li-noicon">
										<h1 class="text-larger text-dark">Areas of Focus</h1>
										<ul>
											<li class="menu-item"><a href="#" class="menu-link">Telemedicine</a></li>
											<li class="menu-item"><a href="#" class="menu-link">AgTech</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Asset Management</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Education</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Remote Sensing</a></li>
											<li class="menu-item"><a href="#" class="menu-link">D &amp; I</a></li>
										</ul>
									</div>

									<div class="col-6 col-lg-3 widget_links widget-li-noicon">
										<h1 class="text-larger text-dark">Startup Kit</h1>
										<ul>
											<li class="menu-item"><a href="#" class="menu-link">Co-working space</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Incubation Calendar</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Harmony Startups</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Startup School</a></li>
										</ul>
									</div>

									<div class="col-6 col-lg-3 widget_links widget-li-noicon">
										<h1 class="text-larger text-dark">Events</h1>
										<ul>
											<li class="menu-item"><a href="#" class="menu-link">Upcoming Webinars</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Meetups</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Hackathons</a></li>
											<li class="menu-item"><a href="#" class="menu-link">Startup Hangout</a></li>
										</ul>
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-4 bg-green p-4 mt-3">
							<div class="widget">
								<h4 class="text-dark">Contact Us</h4>
								<address>
									<strong>Address:</strong><br>
									M.M. Alkali Street<br>
									442 Crescent, Citec Villas<br>
									Gwarinpa, Abuja<br>
								</address>
								<abbr title="Phone Number (Aisha)"><strong>Phone:</strong></abbr> &nbsp;<a href="tel:+2349055730312">(+234) 905 573 0312</a><br>
								<abbr title="Phone Number (Abdul)"><strong>Phone:</strong></abbr> &nbsp;<a href="tel:+2348138322071">(+234) 813 832 2071</a><br>
								<abbr title="Email Address"><strong>Email :</strong></abbr> &nbsp;<a href="mailto:info@hih.ng">info@hih.ng</a>
							</div>

							<div class="widget">
								<div class="row col-mb-30">
									<div class="col-sm-6 col-md-12 col-lg-6 clearfix">
										<a href="#" class="social-icon si-dark si-facebook mb-0 si-colored" style="margin-right: 10px;">
											<i class="icon-facebook"></i>
											<i class="icon-facebook"></i>
										</a>
										<a href="#" class="text-dark"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
									</div>

									<div class="col-sm-6 col-md-12 col-lg-6 clearfix">
										<a href="#" class="social-icon si-dark si-twitter mb-0 si-colored" style="margin-right: 10px;">
											<i class="icon-twitter"></i>
											<i class="icon-twitter"></i>
										</a>
										<a href="#" class="text-dark"><small style="display: block; margin-top: 3px;"><strong>Follow us</strong><br>on Twitter</small></a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

	<!-- Copyrights
		============================================= -->
		<div id="copyrights" style="background-color: #0072BB">
			<div class="container">
				<div class="row justify-content-between col-mb-30">
					<div class="col-12 col-lg-auto text-center text-lg-left text-white">
						Copyrights &copy; 2021 All Rights Reserved by Harmony Innovation Hub.
					</div>

					<div class="col-12 col-lg-auto text-center text-lg-right text-white">
						<a href="#" class="social-icon inline-block si-borderless si-small si-twitter" title="Twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						<a href="#" class="social-icon inline-block si-borderless si-small si-facebook" title="Facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon inline-block si-borderless si-small si-linkedin" title="LinkedIn">
							<i class="icon-linkedin"></i>
							<i class="icon-linkedin"></i>
						</a>
						<a href="#" class="social-icon inline-block si-borderless si-small si-instagram" title="Instagram">
							<i class="icon-instagram"></i>
							<i class="icon-instagram"></i>
						</a>
						<a href="#" class="social-icon inline-block si-borderless si-small si-youtube" title="Youtube">
							<i class="icon-youtube"></i>
							<i class="icon-youtube"></i>
						</a>
						<a href="#" class="social-icon inline-block si-borderless si-small si-skype" title="Whatsapp">
							<i class="icon-whatsapp"></i>
							<i class="icon-whatsapp"></i>
						</a>
					</div>
				</div>

			</div>
		</div><!-- #copyrights end -->
	</footer>