<section id="content">
    <div class="content-wrap pt-3 pb-0">
        <div class="section bg-transparent py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="display-4 font-weight-semibold ls--2">We believe <br/><span class="text-rotater" data-separator="|" data-rotate="fadeIn" data-speed="2000">
                            <span class="t-rotate">in your vision|dreams can come true|in You.</span>
                        </span> </h2>
                    </div>
                    <div class="col-md-5">
                        <h3></h3>
                        <p class="lead text-muted">                            
                            <strong>H</strong>armony <strong>I</strong>nnovation <strong>H</strong>ub is your one stop shop to accelerate startup growth. <br/>Our purpose is to empower the Nigerian entrepreneur with the tools and resources to thrive while providing an enabling environment for fostering innovation. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="overflow-hidden parallax d-flex align-items-center" data-bottom-top="background-position:0px 200px;" data-top-bottom="background-position:0px -400px;" style="background-image: url('#'); background-size: cover; height: 600px; width: 100%; background-color: #0072BB">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="text-white" style="font-size:1.5rem">At HIH, our goal is to get you from idea to market.<br/>We provide an accessible and an enabling environment through capacity building, community engagement events and an encompassing startup growth program to make this possible. </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-theme-light" style="height: 250px;">
            <div class="shadow-sm hero-features dark shadow" style="background-color: rgba(255, 203, 71, 1)">
                <div class="row">
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                            <div class="fbox-icon">
                                <i class="icon-line-circle-check text-primary"></i>
                            </div>
                            <div class="fbox-content">
                                <h3 class="text-primary">Individuals</h3>
                                <ul class="text-white mb-0">
                                    <li>Capacity Building</li>
                                    <li>Co-working space</li>
                                    <li>Internships &amp; Job Placements</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                            <div class="fbox-icon">
                                <i class="icon-line-circle-check text-primary"></i>
                            </div>
                            <div class="fbox-content">
                                <h3 class="text-primary">Startups</h3>
                                <ul class="text-white mb-0">
                                    <li>Incubation &amp; Acceleration</li>
                                    <li>Startup School</li>
                                    <li>Growth Opportunities</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                            <div class="fbox-icon">
                                <i class="icon-line-circle-check text-primary"></i>
                            </div>
                            <div class="fbox-content">
                                <h3 class="text-primary">Corporates</h3>
                                <ul class="text-white mb-0">
                                    <li>Technology Delivery Factory</li>
                                    <li>Consultancy</li>
                                    <li>Events</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="text-primary topmargin">We want you to <strong>succeed.</strong> &nbsp;&nbsp;<a class="btn bg-green button button-large text-white">Apply Today</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="section p-0 bg-transparent clearfix">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-lg-6 col-md-4">
                        <div class="heading-block border-bottom-0 mb-4">
                            <h2 class="text-dark font-weight-semibold nott">What We Do</h2>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-8">
                        <div class="row">
                            <div class="col-sm-4 col-3">
                                <div class="counter color font-weight-semibold"><span data-from="1" data-to="4" data-refresh-interval="100" data-speed="600"></span></div>
                                <h5 class="mt-0 font-weight-medium">Years</h5>
                            </div>

                            <div class="col-sm-4 col-3">
                                <div class="counter color font-weight-semibold"><span data-from="1" data-to="3" data-refresh-interval="200" data-speed="1500"></span></div>
                                <h5 class="mt-0 font-weight-medium">Startups</h5>
                            </div>

                            <div class="col-sm-4 col-6">
                                <div class="counter color font-weight-semibold"><span data-from="100" data-to="4500" data-refresh-interval="100" data-speed="1500"></span>+</div>
                                    <h5 class="mt-0 font-weight-medium">Active Members</h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container clearfix">
                <div class="row grid-container" data-layout="masonry" style="overflow: visible">
                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" style="background-image: url('assets/images/startup-kit-menu/coworking.png')">
                                <div class="flip-card-inner">
                                    <div class="card bg-transparent border-0 text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Workspaces</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back bg-danger no-after">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white"></p>
                                    <button type="button" class="btn btn-outline-light mt-2">View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center top-to-bottom">
                            <div class="flip-card-front dark" style="background-image: url('assets/images/startup-kit-menu/incubation.jpg');">
                                <div class="flip-card-inner">
                                    <div class="card bg-transparent border-0 text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Startups</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" style="background-image: url('demos/business/images/featured/3.jpg');">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white"></p>
                                    <button type="button" class="btn btn-outline-light mt-2">View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center">
                            <div class="flip-card-front dark" data-height-xl="505" style="background-image: url('assets/images/what-we-do/technology.jpg');">
                                <div class="flip-card-inner">
                                    <div class="card bg-transparent border-0 text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Technology Hub</h3>
                                            <p class="card-text font-weight-normal"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="505" style="background-image: url('demos/ecommerce/images/catagories/2.jpg');">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white"></p>
                                    <button type="button" class="btn btn-outline-light mt-2">View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="flip-card text-center top-to-bottom" style="background-image: url('assets/images/what-we-do/internship.jpg');">
                            <div class="flip-card-front dark" data-height-xl="200">
                                <div class="flip-card-inner">
                                    <div class="card bg-transparent border-0 text-center">
                                        <div class="card-body">
                                            <h3 class="card-title">Internships &amp; Job Placements</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="200" style="background-image: url('demos/ecommerce/images/catagories/3.jpg');">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white"></p>
                                    <button type="button" class="btn btn-outline-light mt-2">View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                        <div class="flip-card top-to-bottom">
                            <div class="flip-card-front dark" data-height-xl="200" style="background-image: url('assets/images/startup-kit-menu/startup-school.jpg');">
                                <div class="flip-card-inner">
                                    <div class="card bg-transparent border-0">
                                        <div class="card-body">
                                            <h3 class="card-title mb-0">Human Capacity Development</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back" data-height-xl="200" style="background-image: url('demos/photography/images/items/2.jpg');">
                                <div class="flip-card-inner">
                                    <p class="mb-2 text-white"></p>
                                    <button type="button" class="btn btn-outline-light mt-2">View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section mb-0 pb-0 bg-primary clearfix" style="padding-top: 120px; background-image: url('assets/images/color-abstract-bg.png'); background-size: cover; height: 600px; background-repeat: no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-1">
                        <h2 class="nott font-weight-semibold display-4 text-white">Do you need a growth partner? <div class="before-heading bg-green text-dark">Don't Hesitate to Reach out to Us</div></h2>
                        <p class="text-white text-larger">
                            At Harmony Innovation Hub, we constantly seek out individuals or teams with good ideas that can potentially solve challenges in Nigeria and beyond and make it our mission to help them see their vision through.
                        </p>
                        <a href="#" class="button button-rounded button-xlarge m-0 nott font-weight-semibold ls0 px-5">Talk to us</a>
                    </div>
                </div>
            </div>
            <!-- <img src="assets/images/color-abstract-bg.png" alt="Footer Image" class="footer-img"> -->
        </div>
    </div>
</section>